name: Java CI

on:
  push:
    branches:
      - "main"
      - "DROOLS-7396-test2"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - uses: actions/checkout@v3
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots -ntp install
      - run: mkdir staging && cp drools-lsp-server/target/drools-lsp-server-jar-with-dependencies.jar staging

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Package VS Code Extension
        working-directory: ./client
        run: |
          npm install
          npm run pack:dev

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            staging/*.jar
            staging/*.vsix
